<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="section">
                    <!-- Datatable Lista usuarios -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title" data-i18n="Lista de usuarios">Lista de usuari</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="tuTablaUsuarios" class="display">
                                                <thead style="color: #fff">
                                                    <tr class="custom-gradient_black">
                                                        <th data-i18n="Nombre">Nombre</th>
                                                        <th data-i18n="Usuario">Usuario</th>
                                                        <th data-i18n="Documento">Documento</th>
                                                        <th data-i18n="Rol">Rol</th>
                                                        <th data-i18n="Chats">Campa침a</th>
                                                        {{!-- <th data-i18n="Skill">Skill</th> --}}
                                                        <th data-i18n="Estado">Estado</th>
                                                        <th data-i18n="Accion">Acci칩n</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each listaUsuarios}}
                                                    <tr>
                                                        <td>{{this.USU_CNOMBRE}}</td>
                                                        <td>{{this.USU_CUSUARIO}}</td>
                                                        <td>{{this.USU_CDOCUMENTO}}</td>
                                                        <td>{{this.USU_CROL}}</td>
                                                        <td>{{this.USU_NCHATS}}</td>
                                                        {{!-- <td>{{this.USU_CSKILL}}</td> --}}
                                                        <td>{{this.USU_CESTADO}}</td>
                                                        <td>
                                                            <a class="btn waves-effect waves-light color-oscuro"
                                                                id="editar"
                                                                href="/usuarios/actualizarUsuario/{{this.EnCrypt}}"><i
                                                                    class='bx bx-edit-alt'></i></a>
                                                            <a class="btn waves-effect waves-light red accent-2"
                                                                id="borrar" eliminarUsuario="{{this.EnCrypt}}"><i
                                                                    class='bx bx-trash-alt'></i></a>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th data-i18n="Nombre">Nombre</th>
                                                        <th data-i18n="Usuario">Usuario</th>
                                                        <th data-i18n="Documento">Documento</th>
                                                        <th data-i18n="Rol">Rol</th>
                                                        <th data-i18n="Chats">Campa침a</th>
                                                        <th data-i18n="Estado">Estado</th>
                                                        <th data-i18n="Accion">Acci칩n</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/listarUsuarios.js"></script>