<div class='container_transferencias'>
  <h2>Atención de chats</h2>

  {{!*-- -----------------------------CHAT1 ------------------------------------*--}}
  <div class='grid_chats'>
    <div class='chat'>
      <div class='stateChat1'>
        <button id='cerrarChat1' class='cerrarChat1 btn modal-trigger' href="#modal1"><i
            class='bx bxs-x-circle'></i></i></button>
        <button id='createChat1' class='crearChat1 btn modal-trigger' href="#modal2Chat1"><i
            class='bx bx-message-add'></i></i></button>
        <button id='consultarChat1' class='consultarChat1 btn modal-trigger' href="#modal3Chat1"><i
            class='bx bxs-file-find'></i></i></button>
        <button id='transferirChat1' class='transferirChat1 btn modal-trigger' href="#modalTranferenciaChat1"><i
            class='bx bx-transfer'></i></i></button>
        <button id='plantillaChat1' class='plantillaChat1 btn modal-trigger' href="#modalPlantillaChat1"><i
            class='bx bxs-food-menu'></i></i></button>

      </div>
      <img src='/img/wpp1.jpg' alt='Img_fondo' />
      <div class='numero_chat1' id='numero_chat1'></div>
      <div class='mensajes_chat' id='chat_1'></div>
      <div class='input_chat'>
        <div class='input-field col s6'>
          <input id='inputMensaje1' type='text' placeholder='Escribe un mensaje aquí' class='validate' />

        </div>
        <button id='envioAdjuntosChat1' class='envioAjuntosChat1 btn modal-trigger' href="#modal4Chat1"><i
            class='bx bxs-file-plus'></i></i></button>
        <button id='btnEnvioMensaje_1' class='btnEnvioMensaje_1'><i class='bx bxs-send'></i></button>

      </div>

      <div id="modal1" class="modal">
        <div class="modal-content">

          <h4>ADVERTENCIA</h4>

          <p>Esta apunto de cerrar un chat, ¿Esta seguro de esta acción? </p>

          <select id="tipificacionChat1">
            <option selected="true" disabled="disabled">Tipificar interaccion</option>
            {{#each dataTipificaciones}}
              <option value="{{this.TIP_TIPO}}">{{this.TIP_TIPO}}</option>
            {{/each}}
          </select>

         

        </div>

         <div style="display: none;" id="tipificacion1">
            <button id='tipificar1' class="waves-effect waves-light btn">Tipificar</button>
          </div>

        <div style="display: none;" class="modal-footer" id="btnClose">
          <button href="#" class="btn modal-close" id="closeChat1">Cerrar</button>
        </div>

      </div>

      <div id="modal2Chat1" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>INGRESE EL NUMERO CON EL CUAL SE QUIERE COMUNICAR </p>
          <input id="number1" type="text" data-length="12">
          <label for="input_text">Numero celular</label>

        </div>


        <div class="modal-footer">
          <button href="#" class="btn modal-close" id="crearChat1">Crear</button>

        </div>
      </div>

      <div id="modal3Chat1" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>INGRESE EL NUMERO QUE DESEA CONSULTAR </p>
          <div class="input-field col s6">

            <input id="num1" type="text" data-length="12"></input>


          </div>
          <label for="input_text">Numero celular</label>

          <br><button id='searchRegistryChat1' class="btn waves-effect waves-light" type="submit">Buscar
            registro</button></br>
          <br> <select class="select" id='registryChat1' autofocus>

          </select></br>

          <label>Fechas</label>
          <div id="contenedorTabla" style="display: none;">

            <br>
            <table id="myConsult" class="centered">
              <thead>
                <tr>
                  <th>ESTADO</th>
                  <th>MENSAJE</th>

                </tr>
              </thead>
              <tbody id="tbodyChat1">



              </tbody>
            </table></br>



          </div>

        </div>


        <div class="modal-footer">
          <button href="#" class="btn modal-close" id="buscarChat1">Buscar</button>

        </div>
      </div>

      <div id="modal4Chat1" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>Ingrese el archivo </p>

          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input id='filesAdd1' type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button href="#" class="btn modal-close" id="AdjuntosChat1">ENVIAR</button>
          </div>
        </div>
      </div>

      <div id="modalTranferenciaChat1" class="modal">
        <div class="modal-content">
          <h4>TRANSFERENCIA</h4>
          <p>Seleccione agente a transferir el chat</p>

          <select id="agentesDisponiblesChat1">
            <option selected="true" disabled="disabled">Agentes disponibles</option>
          </select>
          
        </div>
          <div style="display: none" id="divtransferirChat1">
            <button id='btntransferirChat1' class="waves-effect waves-light btn modal-close">Transferir</button>
          </div>
      </div>

      <div id="modalPlantillaChat1" class="modal">
        <div class="modal-content">
          <h4>PLANTILLAS</h4>
          <p>Seleccione la plantilla</p>

          <select id="plantillasChat1">
            <option selected="true" disabled="disabled">Plantillas disponibles</option>
          </select>

          <textarea style="display: none" id="contenidoPlantillaChat1" class="materialize-textarea"></textarea>
          
        </div>
          <div style="display: none" id="divPlantillaChat1">
            <button id='btnPlantillaChat1' class="waves-effect waves-light btn modal-close">Insertar</button>
          </div>
      </div>

      






    </div>


    {{!*-- -----------------------------CHAT2 ------------------------------------*--}}
    <div class='chat'>
      <img src='/img/wpp1.jpg' alt='Img_fondo' />
      <div class='numero_chat2' id='numero_chat2'></div>
      <div class='mensajes_chat' id='chat_2'>

      </div>
      <div class='input_chat'>
        <div class='input-field col s6'>
          <input id='inputMensaje2' type='text' placeholder='Escribe un mensaje aquí' class='validate' />
        </div>
        <button id='envioAdjuntosChat2' class='envioAjuntosChat2 btn modal-trigger' href="#modal4Chat2"><i
            class='bx bxs-file-plus'></i></i></button>

        <button id='btnEnvioMensaje_2' class='btnEnvioMensaje_2'><i class='bx bxs-send'></i></button>
      </div>


      <div class='stateChat2'>
        <button id='cerrarChat2' class='cerrarChat2 btn modal-trigger' href="#modal2"><i
            class='bx bxs-x-circle'></i></i></button>
        <button id='createChat2' class='crearChat2 btn modal-trigger' href="#modal2Chat2"><i
            class='bx bx-message-add'></i></i></button>
        <button id='consultarChat2' class='consultarChat2 btn modal-trigger' href="#modal3Chat2"><i
            class='bx bxs-file-find'></i></i></button>
        <button id='transferirChat2' class='transferirChat2 btn modal-trigger' href="#modalTranferenciaChat2"><i
            class='bx bx-transfer'></i></i></button>
        <button id='plantillaChat2' class='plantillaChat2 btn modal-trigger' href="#modalPlantillaChat2"><i
            class='bx bxs-food-menu'></i></i></button>

      </div>


      <div id="modal2" class="modal">
        <div class="modal-content">

          <h4>ADVERTENCIA</h4>

          <p>Esta apunto de cerrar un chat, ¿Esta seguro de esta acción? </p>

          <select id="tipificacionChat2">
            <option selected="true" disabled="disabled">Tipificar interaccion</option>
            {{#each dataTipificaciones}}
              <option value="{{this.TIP_TIPO}}">{{this.TIP_TIPO}}</option>
            {{/each}}
          </select>

         

        </div>

         <div style="display: none;" id="tipificacion2">
            <button id='tipificar2' class="waves-effect waves-light btn">Tipificar</button>
          </div>

        <div style="display: none;" class="modal-footer" id="btnCloseChat2">
          <button href="#" class="btn modal-close" id="closeChat2">Cerrar</button>
        </div>
      </div>

      <div id="modal2Chat2" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>INGRESE EL NUMERO CON EL CUAL SE QUIERE COMUNICAR </p>
          <input id="number2" type="text" data-length="12">
          <label for="input_text">Numero celular</label>


        </div>


        <div class="modal-footer">
          <button href="#" class="btn modal-close" id="crearChat2">Crear</button>

        </div>
      </div>

      <div id="modal3Chat2" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>INGRESE EL NUMERO QUE DESEA CONSULTAR </p>
          <div class="input-field col s6">
            <input id="num2" type="text" data-length="12">
          </div>
          <label for="input_text">Numero celular</label>
          <br><button id='searchRegistryChat2' class="btn waves-effect waves-light" type="submit">Buscar
            registro</button></br>
          <select class="select" id='registryChat2' autofocus>
          </select>

          <div id="contenedorTabla2" style="display: none;">

            <br>
            <table id="myConsult2" class="centered">
              <thead>
                <tr>
                  <th>ESTADO</th>
                  <th>MENSAJE</th>

                </tr>
              </thead>
              <tbody id="tbodyChat2">



              </tbody>
            </table></br>




          </div>
        </div>


        <div class="modal-footer">
          <button href="#" class="btn modal-close" id="buscarChat2">Buscar</button>
        </div>
      </div>

      <div id="modal4Chat2" class="modal">
        <div class="modal-content">
          <h4>ADVERTENCIA</h4>
          <p>Ingrese el archivo </p>

          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input id='filesAdd2' type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button href="#" class="btn modal-close" id="AdjuntosChat2">ENVIAR</button>
          </div>
        </div>
      </div>

      <div id="modalTranferenciaChat2" class="modal">
        <div class="modal-content">
          <h4>TRANSFERENCIA CHAT 2</h4>
          <p>Seleccione agente a transferir el chat</p>

          <select id="agentesDisponiblesChat2">
            <option selected="true" disabled="disabled">Agentes disponibles</option>
          </select>
          
        </div>
          <div style="display: none" id="divtransferirChat2">
            <button id='btntransferirChat2' class="waves-effect waves-light btn modal-close">Transferir</button>
          </div>
      </div>

      <div id="modalPlantillaChat2" class="modal">
        <div class="modal-content">
          <h4>PLANTILLAS</h4>
          <p>Seleccione la plantilla</p>

          <select id="plantillasChat2">
            <option selected="true" disabled="disabled">Plantillas disponibles</option>
          </select>

          <textarea style="display: none" id="contenidoPlantillaChat2" class="materialize-textarea"></textarea>
          
        </div>
          <div style="display: none" id="divPlantillaChat2">
            <button id='btnPlantillaChat2' class="waves-effect waves-light btn modal-close">Insertar</button>
          </div>
      </div>


    </div>

    {{!--------------------------- CHAT NUMERO 3 ----------------------------------}}

    <div class='chat'>
      <img src='/img/wpp1.jpg' alt='Img_fondo' />
      <div class='numero_chat3' id='numero_chat3'></div>
      <div class='mensajes_chat' id='chat_3'>

      </div>
      <div class='input_chat'>
        <div class='input-field col s6'>
          <input id='inputMensaje3' type='text' placeholder='Escribe un mensaje aquí' class='validate' />
        </div>

        <button id='envioAdjuntosChat3' class='envioAjuntosChat3 btn modal-trigger' href="#modal4Chat3"><i
            class='bx bxs-file-plus'></i></i></button>
        <button id='btnEnvioMensaje_3' class='btnEnvioMensaje_3'><i class='bx bxs-send'></i></button>

      </div>

      <div class='stateChat3'>
        <button id='cerrarChat3' class='cerrarChat3 btn modal-trigger' href="#modal3"><i
            class='bx bxs-x-circle'></i></i></button>
        <button id='createChat3' class='crearChat3 btn modal-trigger' href="#modal2Chat3"><i
            class='bx bx-message-add'></i></i></button>
        <button id='consultarChat3' class='consultarChat3 btn modal-trigger' href="#modal3Chat3"><i
            class='bx bxs-file-find'></i></i></button>
        <button id='transferirChat3' class='transferirChat3 btn modal-trigger' href="#modalTranferenciaChat3"><i
          class='bx bx-transfer'></i></i></button>
        <button id='plantillaChat3' class='plantillaChat3 btn modal-trigger' href="#modalPlantillaChat3"><i
            class='bx bxs-food-menu'></i></i></button>



        <div id="modal3" class="modal">
          <div class="modal-content">

          <h4>ADVERTENCIA</h4>

          <p>Esta apunto de cerrar un chat, ¿Esta seguro de esta acción? </p>

          <select id="tipificacionChat3">
            <option selected="true" disabled="disabled">Tipificar interaccion</option>
            {{#each dataTipificaciones}}
              <option value="{{this.TIP_TIPO}}">{{this.TIP_TIPO}}</option>
            {{/each}}
          </select>

         

        </div>

         <div style="display: none;" id="tipificacion3">
            <button id='tipificar3' class="waves-effect waves-light btn">Tipificar</button>
          </div>

          <div style="display: none;" class="modal-footer" id="btnCloseChat3">
            <button href="#" class="btn modal-close" id="closeChat3">Cerrar</button>
          </div>
        </div>


        <div id="modal2Chat3" class="modal">
          <div class="modal-content">
            <h4>ADVERTENCIA</h4>
            <p>INGRESE EL NUMERO CON EL CUAL SE QUIERE COMUNICAR </p>
            <input id="number3" type="text" data-length="12">
            <label for="input_text">Numero celular</label>



          </div>

          <div class="modal-footer">
            <button href="#" class="btn modal-close" id="crearChat3">Crear</button>

          </div>
        </div>


        <div id="modal3Chat3" class="modal">
          <div class="modal-content">
            <h4>ADVERTENCIA</h4>
            <p>INGRESE EL NUMERO QUE DESEA CONSULTAR </p>

            <div class="input-field col s6">
              <input id="num3" type="text" data-length="12">
            </div>

            <label for="input_text">Numero celular</label>
            <br><button id='searchRegistryChat3' class="btn waves-effect waves-light" type="submit">Buscar
              registro</button></br>
            <select class="select" id='registryChat3' autofocus>

            </select>

            <div id="contenedorTabla3" style="display: none;">

              <br>
              <table id="myConsult3" class="centered">
                <thead>
                  <tr>
                    <th>ESTADO</th>
                    <th>MENSAJE</th>

                  </tr>
                </thead>
                <tbody id="tbodyChat3">



                </tbody>
              </table></br>



            </div>



          </div>


          <div class="modal-footer">
            <button href="#" class="btn modal-close" id="buscarChat3">Buscar</button>

          </div>
        </div>

        <div id="modal4Chat3" class="modal">
          <div class="modal-content">
            <h4>ADVERTENCIA</h4>
            <p>Ingrese el archivo </p>

            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input id='filesAdd3' type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="modal-footer">
              <button href="#" class="btn modal-close" id="AdjuntosChat3">ENVIAR</button>

            </div>



          </div>


        </div>

        <div id="modalTranferenciaChat3" class="modal">
        <div class="modal-content">
          <h4>TRANSFERENCIA CHAT 3</h4>
          <p>Seleccione agente a transferir el chat</p>

          <select id="agentesDisponiblesChat3">
            <option selected="true" disabled="disabled">Agentes disponibles</option>
          </select>
          
        </div>
          <div style="display: none" id="divtransferirChat3">
            <button id='btntransferirChat3' class="waves-effect waves-light btn modal-close">Transferir</button>
          </div>
      </div>

      <div id="modalPlantillaChat3" class="modal">
        <div class="modal-content">
          <h4>PLANTILLAS</h4>
          <p>Seleccione la plantilla</p>

          <select id="plantillasChat3">
            <option selected="true" disabled="disabled">Plantillas disponibles</option>
          </select>

          <textarea style="display: none" id="contenidoPlantillaChat3" class="materialize-textarea"></textarea>
          
        </div>
          <div style="display: none" id="divPlantillaChat3">
            <button id='btnPlantillaChat3' class="waves-effect waves-light btn modal-close">Insertar</button>
          </div>
      </div>

      </div>
    </div>
    {{!-- Audio --}}
    <audio controls autoplay src="" id="audioP" />

    {{!--<script src='/js/transferencias.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>--}}