<!DOCTYPE html>
<!-- BEGIN: Head-->

<head>
<html lang="es">
<html class="loading" lang="es" data-textdirection="ltr">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

<!--========== ICONS ==========-->
<link rel="apple-touch-icon" href="/images/logo/icono_claro.png">
<link rel="shortcut icon" type="image/x-icon" href="/images/logo/icono_claro.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- BEGIN: VENDOR CSS-->
<link rel="stylesheet" href="/vendors/vendors.min.css">
<link rel="stylesheet" href="/vendors/select2/select2.min.css">
<link rel="stylesheet" href="/vendors/select2/select2-materialize.css">
<link rel="stylesheet" href="/vendors/flag-icon/css/flag-icon.min.css">
<link rel="stylesheet" href="/vendors/materialize-stepper/materialize-stepper.min.css">
<link rel="stylesheet" href="/vendors/data-tables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="/vendors/data-tables/css/select.dataTables.min.css">
<!-- END: VENDOR CSS-->

<!-- BEGIN: Page Level CSS-->
<link rel="stylesheet" href="/css/themes/materialize.css">
<link rel="stylesheet" href="/css/themes/style.css">
<link rel="stylesheet" href="/css/pages/app-chat.css">
<link rel="stylesheet" href="/css/pages/app-masivo.css">
<link rel="stylesheet" href="/css/pages/data-tables.css">
<link rel="stylesheet" href="/css/pages/form-select2.css">
<!-- END: Page Level CSS-->


<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" href="/css/custom/custom.css">
{{#if login}}
<link rel="stylesheet" href="/css/styleLogin.css" />
{{/if}}
<!-- END: Custom CSS-->

<!-- BEGIN VENDOR JS-->
<script src="/js/vendors.min.js"></script>
<!-- BEGIN VENDOR JS-->

<title>Claro Chat</title>
</head>
<!-- END: Head-->

<body
  class="vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu preload-transitions 2-columns   "
  data-open="click" data-menu="vertical-gradient-menu" data-col="2-columns">

  <div id="loaderGeneral">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>  

  {{#if user}}
    {{!-- <div id="particles-js"></div> --}}
    {{#if login}}  
    {{else}}
      {{>header}}
      {{>data-i18n}}
      {{>nav}}
      {{>messages}}
      {{{body}}}
      {{>footer}}
    {{/if}}
  {{else}}
    {{>messages}}
    {{{body}}}    
  {{/if}}   
</body>


<!-- BEGIN PAGE VENDOR JS-->
<script src="/vendors/chartjs/chart.min.js"></script>
<script src="/sweetalert2.all.min.js"></script>
<script src="/vendors/select2/select2.full.min.js"></script>
<script src="/vendors/data-tables/js/jquery.dataTables.min.js"></script>
<script src="/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/data-tables/js/dataTables.select.min.js"></script>
<!-- END PAGE VENDOR JS-->

<!-- BEGIN THEME  JS-->
<script src="/js/plugins.js"></script>
<script src="/js/search.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/custom/custom-script.js"></script>
{{#if login}}
{{else}}
<script src="/js/custom/verificarLogin.js"></script>
{{/if}}
<!-- END THEME  JS-->

<!-- BEGIN PAGE LEVEL JS-->
<script src="/js/scripts/app-chat.js"></script>
{{!-- <script src="/js/particles/particles.min.js"></script>
<script src="/js/particles/app.js"></script> --}}
<script src="/js/scripts/data-tables.js"></script>
<!-- END PAGE LEVEL JS-->
</html>